#AddDefaultCharset UTF-8
#DirectoryIndex index.php index.html
#
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . index.php

#если в запросе не указаны реальные файл или директория, то все 
#запросы перенаправляются на index.php